* {
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: Times, Times New Roman, Georgia, serif;
  font-size: 3.5vmin;

  --primary-color: #444039;
  --highlight-color: #a59258;
  --active-color: #444039;
  color: #444039;

  background-color: #ffd24c;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--highlight-color);
}

a:active {
  color: var(--active-color);
}
